html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Shadows Into Light', cursive;

    display: flex;
    justify-content: center;
    align-items: center;
}
canvas {
    margin: 10px;
}
#defaultCanvas0 {
    width: 80%;
}
